NEXT_PUBLIC_API_URL=後端服務網址
NEXT_PUBLIC_LIFF_ID=LIFF_ID
NEXT_PUBLIC_FEEDBACK_FORM_ACTION=https://docs.google.com/forms/d/e/<YOUR_FORM_ID>/formResponse
NEXT_PUBLIC_FEEDBACK_CONTENT_ENTRY=entry.xxxxxxxx
NEXT_PUBLIC_FEEDBACK_USER_NAME_ENTRY=entry.xxxxxxxx
NEXT_PUBLIC_FEEDBACK_USER_ID_ENTRY=entry.xxxxxxxx