<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />

        <rule name="Proxy to Backend API" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://localhost:3000/api/{R:1}" />
        </rule>

        <rule name="Proxy to Frontend App" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:3001/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
